/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}

body{
    
    background-color: rgb(250, 250, 250);
}